{% extends 'contentpages/topbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'bass.css' %}">

{% block content %}
<div class="flex_containter" id="homepageflex">
<h1>Sources:</h1><hr>

    <h2>Information Sources:</h2>
    <h3><i>Please note some links are broken for some reason...</i></h3>
<ul>
    <li><h3><a href="https://bio.libretexts.org/Bookshelves/Introductory_and_General_Biology/Book%3A_General_Biology_(Boundless)/24%3A_Fungi/24.01%3A_Characteristics_of_Fungi/24.1B%3A_Fungi_Cell_Structure_and_Function#:~:text=Most%20fungi%20are%20multicellular%20organisms,of%20hyphae%20is%20a%20mycelium.">Fungi Cell Structure and Function</a></h3></li>
    <li><h3><a href="https://organismalbio.biosci.gatech.edu/biodiversity/fungi-2/">Organism Biology (Ga Tech)</a></h3></li>
    <li><h3><a href="http://www2.clarku.edu/faculty/dhibbett/tftol/content/3interaction.html#:~:text=All%20fungi%20are%20heterotrophic%2C%20which,from%20living%20or%20dead%20organisms."></a>Teaching the Fungal Tree</h3></li>
    <li><h3><a href="http://www.biology.lifeeasy.org/7021/economic-importance-of-basidiomycetes">Economic Importance of Basidiomycetes</a></h3></li>
    <li><h3><a href="https://www.britannica.com/science/Basidiomycota">Phylum of Fungi</a></h3></li>
    <li><h3><a href="https://bio.libretexts.org/Bookshelves/Introductory_and_General_Biology/Book%3A_General_Biology_(Boundless)/24%3A_Fungi/24.03%3A_Classifications_of_Fungi/24.3E%3A_Deuteromycota_-_The_Imperfect_Fungi">The Imperfect Fungi</a></h3></li>
    <li><h3><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4464818/#:~:text=The%20Zygomycota%20represent%20an%20important,underlying%20immune%20or%20metabolic%20disorders.">Emerging Zygomycetes</a></h3></li>
    <li><h3><a href="https://www.pthorticulture.com/en/training-center/basics-of-plant-respiration/#:~:text=As%20with%20photosynthesis%2C%20plants%20get,dark%20respiration%20and%20photo%20respiration">Photosynthesis Plants Get Dark...Respiration</a></h3></li>
    <li><h3><a href="https://www.researchgate.net/profile/Lakna-Panawala/publication/316617126_Difference_Between_Archaebacteria_and_Eubacteria/links/5907e86baca272116d3cb691/Difference-Between-Archaebacteria-and-Eubacteria.pdf">Difference between the Prokaryotic Bacteria</a></h3></li>
    <li><h3><a href="Pixabay.com">ALL IMAGES</a></h3></li>


</ul>

</div>
{% endblock %}