{% load static %}
<link rel="stylesheet" href="{% static 'base.css' %}">



<div class="title">
            <title>
            {% block title %}
            {% endblock %}
            </title>
        </div>

    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    </head>

        <div class="topbar" id="topbar">
                <a href="/">Homepage</a>
                <a href="/content/">Website Contents</a>
                <a href="/content/sources/">Sources</a>
            </ul>
        </div>
        <div class="blockcontent">
            {% block content %}
            {% endblock %}
        </div>

