{% extends 'contentpages/topbar.html' %}
{% load static %}
<link rel="stylesheet" href="{% static 'bass.css' %}">

{% block content %}
<div class="flex_containter" id="homepageflex">
<h1>Welcome to Noah and Stephen's Website! </h1><hr>

<ul>
    <li><h3>This website was made for an AP biology assignment investigating organism kingdoms.</h3></li>
    <li><h3>This website was made from <i>scratch</i> by Noah using Django.</h3></li>
    <li><h4>Due to internet issues and underestimating the difficulty of django...its 5:30am</h4></li>
    <li><h4><i>Because this website was 100% Noah's work...no scissors Stephen.</i></h4></li>
</ul>

    <h2>Please navigate to "Website Contents" to begin your research!</h2><br>

</div>
{% endblock %}